body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1b1b32;
}

main {
    color: white;
}

header h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
}

section {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#change-due {
    width: 20%;
    margin: 10px;
    background-color: black;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid yellow;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    padding-bottom: 5px;
}

#input input {
    width: 90%;
    height: 25px;
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid black;
    background: none;
}

#input label {
    font-weight: 700;
    color:blue
}

#input button {
    margin-top: 10px;
    width: 50%;
    height: 30px;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 5px 0 5px 0;
    border: 2px solid slategray;
    font-size: 18px;
}

#input button:hover {
    background-color: black;
    color: blue;
}

#drawer {
    background-color: antiquewhite;
    color: blue;
    padding: 0 10px;
    width: 20%;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid red;
}
